/* ===== RESPONSIVE STYLE ===== */

@media (max-width:1600px) {
    .callback-link,
    .header-phone-row a {
        font-size: 1.6rem;
    }
    .menu li {
        margin-right: 1em;
    }
    .gallery-img.big {
        height: 64em;
        width: 70em;
    }
    .gallery-img.small {
        height: 31em;
        width: 41em;
    }
    .sircle-1 {
        width: 15rem;
        height: 15rem;
    }
    .sircle-2 {
        width: 7rem;
        height: 7rem;
        top: 6em;
    }
    .garatry-wrapper {
        width: 95%;
        margin: 0 auto 4em;
    }
    .about-title,
    .about-name-company {
        font-size: 7.6rem;
    }
    .about-img {
        width: 50rem;
    }
    .down {
        width: 10rem;
        height: 10rem;
        ;
        margin: 8rem auto 0;
    }
    .about {
        padding: 10em 0 5em;
    }
    .testimonial-bg-img {
        width: 23rem;
    }
}

@media (max-width:1440px) {
    html {
        font-size: 0.8vw;
    }
    .callback-link,
    .menu li,
    .header-phone-row a,
    .header-phone-wrapper p {
        font-size: 14px;
    }
    .header-phone-row a {
        margin-right: 5px;
        padding-right: 7px;
    }
    .call-inner {
        width: 50px;
        height: 50px;
    }
    .logo {
        width: 100px;
    }
    .main-title {
        font-size: 6.6rem;
    }
    .main-subtitle {
        font-size: 4rem;
        margin-bottom: 1em;
    }
    .banner {
        background-size: cover;
        background-repeat: no-repeat;
        padding: 15rem 0 5rem;
    }
    .section {
        padding: 4em 0;
    }
    .h2,
    h2 {
        font-size: 5rem;
    }
    .service-item .btn {
        padding: 1.2em 2em;
    }
    .service-title {
        font-size: 1.6rem;
    }
    .service-img {
        width: 10rem;
        height: 10rem;
        margin-bottom: 1em;
    }
    .service-item {
        padding: 2em;
    }
    .action-slider-content {
        margin: 15rem 0;
    }
    .action-text {
        font-size: 5rem;
    }
    .send-btn {
        font-size: 1.6rem;
        color: #FFFFFF;
        width: 40rem;
    }
    .action-slider .slick-arrow {
        bottom: 3em;
    }
    .gallery-img.big {
        height: 54em;
        width: 50em;
    }
    .gallery-img.small {
        height: 26em;
        width: 33em;
    }
    .gallery {
        padding: 4em 0 2em;
    }
    .garanty-item-content {
        padding: 2.5em 2em 2.5em 4em;
    }
    .garanty-num {
        font-size: 7rem;
    }
    .garanty-item-content::before {
        height: 70%;
    }
    .garanty-item-content p {
        font-size: 2rem;
    }
    .feedback-text {
        font-size: 2.4rem;
    }
    .about-title,
    .about-name-company {
        font-size: 6rem;
    }
    .about-wrapper {
        width: 90%;
        margin: 0 auto;
    }
    .about-descript {
        width: 44%;
        padding-right: 0;
    }
    .about-img {
        width: 39rem;
        top: -1em;
        right: 29%;
    }
    .down {
        width: 8rem;
        height: 8rem;
        margin: 7rem auto 0;
    }
    .bg-text {
        font-size: 16rem;
    }
    .testimonial-bg-img {
        width: 17rem;
    }
    .testimonial-item {
        padding: 3em;
    }
    .user-avatar {
        min-width: 12rem;
        height: 12rem;
    }
    .contact-us__body {
        padding: 4em;
        width: 55%;
    }
    .footer-phone-row a,
    .footer p {
        font-size: 14px;
    }
    .about-descript p {
        font-size: 1.6rem;
    }
    .testimonial {
        padding: 4em 0 9em;
    }
    .testimonial-slider .slick-arrow {
        bottom: -6em;
    }
}

@media (max-width:1366px) {
    .call-inner {
        width: 40px;
        height: 40px;
    }
    .call {
        margin-right: 10px;
    }
    .banner {
        background-size: cover;
        background-repeat: no-repeat;
        padding: 13rem 0 3rem;
    }
    .banner-button-row {
        margin-bottom: 2em;
    }
    .mb-4 {
        margin-bottom: 3em;
    }
    .gallery {
        padding: 3em 0 1em;
    }
    .garanty-item-content {
        padding: 2em 2em 2em 4em;
    }
    .garatry-wrapper {
        margin: 0 auto 2em;
    }
    .garanty-descr {
        font-size: 1.6rem;
        width: 65%;
    }
    .about-title,
    .about-name-company {
        font-size: 5rem;
    }
    .about-subtitle {
        font-size: 3rem;
    }
    .about-img {
        width: 34rem;
    }
    .bg-text {
        font-size: 13rem;
    }
    .testimonial-bg-img {
        width: 15rem;
    }
    .sircle-2 {
        top: 3em;
    }
    /* Titles */
    .h1,
    h1 {
        font-size: 7rem;
    }
    .h2,
    h2 {
        font-size: 6rem;
    }
    .h3,
    h3 {
        font-size: 4rem;
    }
    .h4,
    h4 {
        font-size: 3rem;
    }
}

@media (max-width:1200px) {
    /* Mobile menu */
    .mobile-btn {
        width: 25px;
        display: block;
    }
    .mobile-btn span {
        display: block;
        height: 2px;
        background-color: var(--black);
        border-radius: 2px;
    }
    .mobile-btn span:not(:last-child) {
        margin-bottom: 5px;
    }
    .nav {
        position: fixed;
        display: block;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 60px 20px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        z-index: 120;
        overflow-y: auto;
    }
    .nav.active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        visibility: visible;
    }
    .close-menu {
        width: 25px;
        height: 25px;
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .close-menu::before,
    .close-menu::after {
        content: '';
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: var(--white);
        position: absolute;
        left: 0;
        top: 50%;
    }
    .close-menu::before {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .close-menu::after {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .menu {
        flex-direction: column;
    }
    .menu li {
        margin: 0 0 30px 0;
        text-align: center;
    }
    .menu li a {
        font-size: 16px;
        text-transform: uppercase;
        color: var(--white);
    }
    .mobile-menu__content {
        display: block;
    }
    /* // Mobile menu */
    .social,
    .callback-link,
    .header-phone-wrapper {
        display: none;
    }
    .header {
        padding: 10px 0;
    }
    .call {
        margin-right: 0;
    }
    .social li a {
        border: 2px solid var(--white);
    }
    .icon-social {
        color: var(--white);
    }
    .main-title {
        font-size: 5rem;
    }
    .main-subtitle {
        font-size: 2.8rem;
    }
    .banner {
        padding: 15rem 0 4rem;
    }
    .service-wrapper.four-column .block-item {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    .about-wrapper {
        width: 100%;
    }
    .feedback__image {
        flex: 0 0 40%;
    }
    .feedback__body {
        width: 60%;
    }
    .decor-element {
        display: none;
    }
    .header {
        position: relative;
    }
    .mobile-phone-dropdown {
        position: absolute;
        background: #000;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 10px 15px;
        text-align: center;
        font-size: 18px;
        color: #fff;
    }
    .mobile-phone-dropdown a {
        display: inline-block;
    }
    .mobile-phone-dropdown a:not(:last-child) {
        margin-right: 10px;
    }
}


/* 1200 */

@media (max-width:1024px) {
    .about-img {
        width: 30rem;
    }
    .down {
        width: 6rem;
        height: 6rem;
        margin: 2rem auto 0;
    }
    .gallery-img.small {
        width: 32em;
    }
    .contact-us__body {
        padding: 3em 2em;
    }
    .checkbox-wrap label {
        font-size: 14px;
    }
}

@media (max-width:991px) {}

@media (max-width:768px) {
    html {
        font-size: 10px;
    }
    .main-title {
        line-height: 1.3;
    }
    .main-title span {
        display: block;
    }
    .banner-content p {
        width: 60%;
    }
    .h2,
    h2 {
        font-size: 36px;
    }
    .service-wrapper.four-column .block-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .service-wrapper.four-column .block-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .action-text {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .action-section .form {
        width: 70%;
    }
    .gallery-slider-arrows {
        top: auto;
        width: 27%;
        bottom: -8em;
    }
    .gallery {
        padding: 3em 0 6em;
    }
    .btn-icon {
        margin-right: 0;
    }
    .btn-text,
    .down-btn {
        display: none;
    }
    .btn--ico {
        padding: 5px;
    }
    .main-title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .main-subtitle {
        font-size: 24px;
    }
    .service-item::after {
        width: 6px;
    }
    .sm-show {
        display: flex;
    }
    .form-row {
        flex-direction: column;
        background: transparent;
    }
    .form .input-wrapper {
        width: 100%;
    }
    .form .send-btn {
        width: 80%;
        margin: 25px auto 0;
        padding: 1.4em;
    }
    .garanty-img-wrap {
        display: none;
    }
    .garanty-item {
        width: 100%;
        margin-bottom: 60px;
    }
    .garanty-item:last-child {
        margin-bottom: 0;
    }
    .garanty-num {
        font-size: 96px;
    }
    .garanty-item-content {
        padding: 3em 3em 3em 10em;
    }
    .garanty-item-content p {
        font-size: 24px;
    }
    .garanty-item-content::after {
        width: 85%;
    }
    .garanty-descr {
        font-size: 18px;
        width: 100%;
    }
    .feedback {
        background: url(../images/bg/bg2.jpg) no-repeat center top;
        padding: 4em 0;
    }
    .feedback__body {
        width: 100%;
    }
    .feedback__image,
    .about-img,
    .down {
        display: none;
    }
    .feedback__image__mobile {
        display: block;
    }
    .feedback-text {
        font-size: 18px;
    }
    .garanty-item-content,
    .garanty-item-content p {
        transform: none;
    }
    .garanty-num {
        transform: skewX(0deg) translate(0%, -12%);
    }
    .garatry-wrapper {
        width: 100%;
    }
    .about-item {
        width: 100%;
    }
    .about-descript {
        width: 100%;
    }
    .about-title,
    .about-name-company {
        font-size: 46px;
    }
    .about-name-company {
        margin-bottom: 1em;
    }
    .bg-text {
        font-size: 8rem;
        top: 0.5em;
    }
    .testimonial-slider .slide {
        width: 60rem;
    }
    .contact-us__body {
        padding: 4em;
        width: 100%;
    }
    .contact-us__title,
    .contact-us__subtitle {
        text-align: center;
    }
    .checkbox-wrap {
        width: 100%;
        margin-bottom: 30px;
    }
    .checkbox-wrap label {
        font-size: 16px;
    }
    .footer-nav,
    .footer-item .call,
    .net-column {
        display: none;
    }
    .footer__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .footer .logo {
        width: 130px;
        margin-bottom: 30px;
    }
    .footer-phone-row a,
    .footer p {
        font-size: 18px;
        text-align: center;
    }
    .footer p {
        font-size: 16px;
    }
    .address {
        display: block;
    }
    .footer .social {
        order: 5;
        margin: 20px 0;
    }
    .sm-hide {
        display: none;
    }
    .logo-frame {
        width: 200px;
    }
    .contact-form .send-btn {
        width: auto;
        padding: 1.4em 5em;
        margin: 0 auto;
    }
    .load-overlay img {
        width: 200px;
    }
    .popup-window {
        width: 90%;
        padding: 1em;
    }
    /* Titles */
    .h1,
    h1 {
        font-size: 5rem;
    }
    .text-block p {
        font-size: 16px;
    }
}

@media (max-width:767px) {
    .banner-content p {
        width: 100%;
        letter-spacing: 0.5px;
    }
    .main-subtitle {
        margin-bottom: 50px;
    }
    .main-title {
        margin-bottom: 10px;
    }
    .service-title {
        font-size: 12px;
    }
    .service-img {
        width: 69px;
        height: 69px;
    }
    .service-item {
        padding: 1em;
    }
    .service-item .btn span:last-child {
        display: block;
    }
    .service-item .btn span:first-child {
        display: none;
    }
    .service-item .btn {
        padding: 1em 2em;
        font-size: 14px;
    }
    .service-title {
        height: 8rem;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }
    .service-wrapper .block-item {
        margin-bottom: 3em;
    }
    .action-slider-content {
        margin: 8rem 0 9em;
    }
    .action-text {
        font-size: 22px;
    }
    .action-section .form {
        width: 100%;
    }
    .action-slider .slick-arrow {
        left: 49%;
    }
    .gallery-img.big {
        height: 325px;
        width: 28em;
    }
    .gallery-img.small {
        height: 152px;
        width: 28em;
    }
    .gallery-add-text {
        font-size: 14px;
        width: 8rem;
    }
    .gallery-slider-arrows .slick-arrow {
        margin: 0 10px;
    }
    .garanty-item-content {
        padding: 2em 2em 2em 7em;
    }
    .garanty-item-content::before {
        height: 50%;
    }
    .garanty-item-content::after {
        width: 67%;
    }
    .feedback__image__mobile {
        top: -7em;
        width: 30rem;
    }
    .bg-text {
        font-size: 4rem;
        top: 0.5em;
    }
    .testimonial-slider .slide {
        width: 30rem;
    }
    .testimonial-item {
        padding: 1em;
        flex-direction: column;
        align-items: center;
    }
    .user-avatar {
        margin-right: 0em;
        margin-bottom: 20px;
    }
    .user-name,
    .testimonial-content p {
        text-align: center;
    }
    .testimonial-bg-img {
        display: none;
    }
    .contact-us__title {
        font-size: 30px;
    }
    .contact-us__body {
        padding: 3em 20px;
        width: 100%;
    }
    .contact-us__subtitle {
        font-size: 18px;
    }
    .footer-phone-row a {
        font-size: 18px;
        text-align: center;
        width: 100%;
        margin: 0 0 10px;
        padding: 0;
        border: 0;
    }
    .feedback {
        padding: 4em 0 6em;
    }
    .garanty-item {
        margin-bottom: 40px;
    }
    .h1,
    h1 {
        font-size: 38px;
        line-height: 1.1;
    }
    .h2,
    h2 {
        font-size: 28px;
        line-height: 1.1;
    }
    .h3,
    h3 {
        font-size: 24px;
        line-height: 1.3;
    }
    .h4,
    h4 {
        font-size: 20px;
        line-height: 1.5;
    }
    .contact-form-row {
        flex-direction: column;
    }
}


/* 767 */

@media (max-width:640px) {}

@media (max-width:600px) {}

@media (max-width:480px) {}

@media (max-width:320px) {
    .main-title {
        font-size: 25px;
    }
    .main-subtitle {
        font-size: 18px;
        margin-bottom: 30px;
    }
    .banner {
        padding: 8rem 0 4rem;
    }
    .h1,
    h1 {
        font-size: 32px;
        line-height: 1.3;
    }
    .h2,
    h2 {
        font-size: 28px;
    }
    .section {
        padding: 3em 0;
    }
    .mb-4 {
        margin-bottom: 2em;
    }
    .service-wrapper.four-column .block-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .garanty-num {
        font-size: 75px;
    }
    .garanty-item-content p {
        font-size: 16px;
    }
    .garanty-item-content {
        padding: 2em 2em 2em 6em;
    }
    .gallery {
        padding: 3em 0 6em;
    }
    .garanty-descr {
        font-size: 14px;
    }
    .about-title,
    .about-name-company {
        font-size: 34px;
    }
    .about-subtitle {
        font-size: 16px;
    }
    .about-descript p {
        font-size: 14px;
    }
    .testimonial {
        padding: 3em 0 8em;
    }
    .contact-us__title {
        font-size: 24px;
    }
    .contact-us__subtitle {
        font-size: 14px;
    }
    .contact-form-row {
        flex-direction: column;
    }
    .service-title {
        height: auto;
        margin-bottom: 20px;
    }
    .action-slider-content {
        margin: 5rem 0 9em;
    }
}