/* ===== IMPORTED STYLE ===== */

@import url("jquery.fancybox.min.css");
@import url("animate.css");
@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-black.woff2') format('woff2'), url('../fonts/roboto/roboto-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-bold.woff2') format('woff2'), url('../fonts/roboto/roboto-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-medium.woff2') format('woff2'), url('../fonts/roboto/roboto-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-regular.woff2') format('woff2'), url('../fonts/roboto/roboto-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-light.woff2') format('woff2'), url('../fonts/roboto/roboto-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


/* ===== IMPORTED STYLE END ===== */


/* ===== RESET STYLE ===== */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
theadm tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
main,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    font: inherit;
    border: 0px currentColor;
    border-image: none;
    vertical-align: baseline;
    font-size-adjust: inherit;
    font-stretch: inherit;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
body,
main {
    display: block;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

ol[class],
ul[class],
ol li[class],
ul li[class] {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
}

a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
    text-decoration: none;
    outline: none;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-overflow-scrolling: touch;
}

input,
button,
select {
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::ms-expand {
    display: none;
}

input::-ms-clear {
    display: none;
}

img {
    display: block;
    max-width: 100%;
}


/* ===== RESET STYLE END ===== */


/* ===== Theme default ===== */

:root {
    --black: #000;
    --white: #fff;
    --gray: #2F2F2F;
    --red: #FD3535;
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    background: var(--white);
    font-weight: normal;
    font-family: 'roboto';
    font-size: 1.6rem;
    letter-spacing: 0.1px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    color: var(--gray);
    display: block;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

svg {
    width: 100%;
    height: 100%;
    display: block;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

textarea:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

textarea:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input,
textarea {
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    resize: none;
}

section {
    width: 100%;
}

a {
    position: relative;
    color: inherit;
    transition: 0.25s;
}

a:hover {
    transition: 0.25s;
}

b,
strong {
    font-weight: bold;
}

p {
    line-height: 1.5;
}


/* Flexbox */

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center
}

.align-end {
    align-items: flex-end;
}

.align-start {
    align-items: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}


/* // Flexbox */


/* CSS Grid */

.grid {
    display: grid;
}

.col-2 {
    grid-template-columns: repeat(2, 1fr);
}

.col-3 {
    grid-template-columns: repeat(3, 1fr);
}

.col-4 {
    grid-template-columns: repeat(4, 1fr);
}

.col-5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-col-1 {
    grid-column: span 1;
}

.grid-row-1 {
    grid-row: span 1;
}

.grid-col-2 {
    grid-column: span 2;
}

.grid-row-2 {
    grid-row: span 2;
}

.grid-col-3 {
    grid-column: span 3;
}

.grid-row-3 {
    grid-row: span 3;
}

.grid-col-4 {
    grid-column: span 4;
}

.grid-row-4 {
    grid-row: span 4;
}

.grid-col-5 {
    grid-column: span 5;
}

.grid-row-5 {
    grid-row: span 5;
}


/* // CSS Grid */

.svg-library {
    display: none;
}

.container {
    width: 100%;
    max-width: 1680px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.container--lt {
    max-width: 1400px;
}

.red {
    border: 1px solid red;
}

.blue {
    border: 1px solid blue;
}

.green {
    border: 1px solid green;
}

.mobile-btn {
    display: none;
}

.noscroll {
    overflow: hidden;
}

.mobile-menu__content {
    display: none;
}

.text--uppercase {
    text-transform: uppercase;
}

.text--center {
    text-align: center;
}

.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

.text--black {
    color: var(--black);
}

.text--white {
    color: var(--white);
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mt-4 {
    margin-top: 4em;
}

.mt-5 {
    margin-top: 5em;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-3 {
    margin-bottom: 3em;
}

.mb-4 {
    margin-bottom: 4em;
}

.mb-5 {
    margin-bottom: 5em;
}

.pt-1 {
    padding-top: 1em;
}

.pt-2 {
    padding-top: 2em;
}

.pt-3 {
    padding-top: 3em;
}

.pt-4 {
    padding-top: 4em;
}

.pt-5 {
    padding-top: 5em;
}

.pb-1 {
    padding-bottom: 1em;
}

.pb-2 {
    padding-bottom: 2em;
}

.pb-3 {
    padding-bottom: 3em;
}

.pb-4 {
    padding-bottom: 4em;
}

.pb-5 {
    padding-bottom: 5em;
}


/* Buttons */

.btn-container {
    width: 100%;
    display: flex;
}

.btn {
    display: inline-flex;
    justify-content: center;
    padding: 1.4em 4em;
    background: none;
    position: relative;
    text-align: center;
    border-radius: 35px;
    border: 1px solid var(--red);
}

.btn:hover {
    cursor: pointer;
    background: var(--red);
    color: var(--white);
}

.btn--ico {
    background: var(--red);
    color: var(--white);
    padding: 5px 5em 5px 5px;
    border: 1px solid transparent;
}

.btn--ico:hover {
    opacity: 0.8;
}

.btn--red {
    background: var(--red);
    color: var(--white);
}


/* Icons */

.icon {
    display: block;
    color: inherit;
}

.icon-social {
    width: 16px;
    height: 16px;
    color: #494949;
    transition: 0.25s;
}

.icon-call {
    width: 23px;
    height: 23px;
    color: var(--white);
}

.icon-phone {
    width: 20px;
    height: 18px;
}

.icon-arrow {
    width: 2.8rem;
    height: 4rem;
    color: var(--white);
}

.icon-user {
    width: 14px;
    height: 20px;
    color: var(--red);
}


/* Titles */

.h1,
h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 8.2rem;
    display: block;
    line-height: 1;
}

.h2,
h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 6.4rem;
    display: block;
    line-height: 1.2;
}

.h3,
h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    display: block;
    line-height: 1.3;
}

.h4,
h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    display: block;
    line-height: 1.5;
}

.h5,
h5 {}

.h6,
h6 {}

.italic-text {
    font-style: italic;
}


/* Custom default style */

.block-wrapper {
    margin: 0 -10px;
}

.block-item {
    padding: 0 10px;
}

.two-column .block-item {
    flex: 0 0 50%;
    max-width: 50%;
}

.three-column .block-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.four-column .block-item {
    flex: 0 0 25%;
    max-width: 25%;
}

.five-column .block-item {
    flex: 0 0 20%;
    max-width: 20%;
}


/* ===== Theme default END ===== */


/* ==================== ШАБЛОНЫ ======================*/


/* Slick Slider - Default Style */

.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    outline: none;
    display: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}


/* Slick Slider - Arrows */

.prev-slide,
.next-slide {
    flex: none;
    width: 6.9rem;
    height: 5.8rem;
    color: #fff;
    background-color: #D2D2D2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 100px;
}

.prev-slide svg {
    transform: rotate(180deg);
}

.next-slide svg {
    transform: rotate(-0deg);
}

.prev-slide:hover,
.next-slide:hover {
    background-color: var(--red);
}

.prev-slide:hover svg,
.next-slide:hover svg {
    color: var(--white);
    transition: all .3s;
}

.prev-slide svg,
.next-slide svg {
    width: 20px;
    color: #313131;
}


/* Slick Slider - Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    border: 0;
    background: #413680;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li.slick-active button {
    background: green;
}


/* Выпадающий список */

.select {
    position: relative;
    text-align: left;
    user-select: none;
    -webkit-touch-callout: none;
    font-weight: 400;
    margin: 0;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    color: var(--black);
    display: inline-flex;
    align-items: center;
}

.select .placeholder {
    position: relative;
    background: transparent;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    padding: 0 1.5em 0 1.7em;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: red;
}

.select .select-arrow-icon {
    position: absolute;
    right: 0;
    z-index: 0;
}

.select-left-icon {
    position: absolute;
    left: 0;
    z-index: 0;
}

.select.is-open .select-arrow-icon {
    transform: rotate(180deg);
    top: auto;
}

.select.is-open ul {
    display: block;
    border: 1px solid gray;
}

.select ul {
    display: none;
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    background: silver;
    border-radius: 2px;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    z-index: 4;
}

.select ul li {
    display: block;
    text-align: left;
    padding: 0.7em;
    color: var(--black);
    cursor: pointer;
    word-wrap: break-word;
    text-transform: uppercase;
    white-space: nowrap;
}

.select ul li:hover {
    background: pink;
    color: var(--white);
}

.select ul li:hover a {
    transition: none;
}


/* Popup  */

.popup-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 150;
    display: none;
}

.popup-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    visibility: hidden;
    z-index: 200;
    transition: all .3s;
    background: var(--white);
    padding: 2em;
    border-radius: 10px;
    width: 35em;
    min-width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-window.active {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}

.close-popup {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    display: block;
    overflow: visible;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.close-popup::before,
.close-popup::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 1px;
    display: block;
    width: 20px;
    height: 1px;
    border-bottom: 1px solid #000;
    transform: rotate(45deg);
}

.close-popup::after {
    left: 0;
    transform: rotate(-45deg);
}


/* Checkbox */

.checkbox-wrap input {
    display: none;
}

.checkbox-wrap input:checked+label::before {
    background: #fff url('../images/icons/check.svg');
    background-position: 5px 7px, 0 0;
    background-repeat: no-repeat, repeat;
}

.checkbox-wrap label {
    display: inline-flex;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.3;
    color: #FFFFFF;
}

.checkbox-wrap label::before {
    content: '';
    flex: none;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    margin-right: 1em;
    background: #fff
}

.checkbox-wrap label:hover {
    cursor: pointer;
}

.checkbox-wrap span a:hover {
    text-decoration: none;
}

.checkbox-wrap span a {
    margin: 0 3px;
    text-decoration: underline;
}

.checkbox-wrap span {
    font-size: 16px;
    line-height: 1.3;
    color: #FFFFFF;
}


/* ===== Custom Styles =====*/

.section {
    padding: 5em 0;
}

.social li {
    margin-right: 0.5em;
}

.social li:last-child {
    margin-right: 0;
}

.social li a {
    border: 2px solid #494949;
    border-radius: 50%;
    min-width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callback-link {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--gray);
    display: block;
    padding: 2em 0;
    border-bottom: 2px solid var(--red);
}

.logo {
    display: block;
    max-width: 130px;
}

.menu li {
    margin-right: 2em;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a:hover,
.callback-link:hover {
    color: var(--red);
}

.call {
    border-radius: 50%;
    border: 1px solid var(--red);
    padding: 1px;
    margin-right: 1em;
}

.call-inner {
    width: 62px;
    height: 62px;
    display: flex;
    border-radius: 50%;
    background: var(--red);
    justify-content: center;
    align-items: center;
}

.header-phone-row a {
    display: block;
    margin-right: 1em;
    border-right: 1px solid var(--gray);
    padding-right: 1em;
    font-weight: 500;
    font-size: 1.8rem;
}

.header-phone-row a:hover {
    color: var(--red);
}

.header-phone-row {
    margin-bottom: 5px;
}

.header-phone-row a:last-child {
    margin-right: 0;
    border-right: none;
    padding-right: 0;
}

.mobile-menu__phone-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    border-top: 1px solid var(--red);
    border-bottom: 1px solid var(--red);
}

.mobile-menu__phone-wrap a {
    display: flex;
    text-align: center;
    margin-bottom: 15px;
    color: var(--white);
}

.mobile-menu__phone-wrap a:last-child {
    margin-bottom: 0;
}

.mobile-menu__content .social {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.mobile-menu__content .callback-link {
    display: table;
    text-align: center;
    padding: 10px 0;
    color: var(--white);
    margin: 0 auto;
}

.banner {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 26rem 0 10rem;
}

.main-title {
    display: block;
    font-size: 9.6rem;
    margin-bottom: 0.2em;
}

.main-subtitle {
    display: block;
    font-size: 4.8rem;
    margin-bottom: 1.5em;
}

.banner-content p {
    color: var(--white);
    text-align: center;
    width: 35%;
    margin: 0 auto 2em;
    letter-spacing: 1px;
    font-weight: 300;
}

.banner-button-row .btn {
    margin: 0 1em;
}

.banner-button-row {
    margin-bottom: 4em;
}

.btn-icon {
    min-width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    border: 1px solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3em;
    transition: 0.25s;
}

.btn-icon .icon-social {
    width: 2.8rem;
    height: 2.8rem;
    color: var(--white);
    transition: 0.25s;
}

.down-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 7.4rem;
    height: 7.4rem;
    border-radius: 50%;
    background: rgba(160, 160, 164, 0.41);
    backdrop-filter: blur(11.156px);
}

.down-btn span {
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    width: 8px;
    height: 8px;
    display: block;
    transform: rotate(45deg);
    margin-top: -3px;
}

.down-btn:hover {
    cursor: pointer;
}

.service-item {
    background: #F8F8F8;
    border-radius: 0px 50px 0 50px;
    padding: 2em 3em;
    position: relative;
}

.service-item::after {
    content: '';
    display: block;
    position: absolute;
    top: 3.5em;
    right: 0;
    width: 1.2rem;
    height: 60%;
    background: #FD3535;
    border-radius: 100px 0px 00px 100px;
}

.service-item .btn {
    position: absolute;
    padding: 1.4em 3em;
}

.service-img {
    width: 13rem;
    height: 13rem;
    margin-bottom: 2em;
}

.service-img img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

.service-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 7rem;
    line-height: 1.3;
    margin-bottom: 1em;
}

.service-wrapper .block-item {
    margin-bottom: 4em;
}

.action-section {
    padding: 0;
}

.action-slider__slide--background {
    background-repeat: no-repeat;
    background-size: cover;
}

.action-slider-content {
    margin: 25rem 0;
}

.action-text {
    font-weight: bold;
    font-size: 6.4rem;
    color: var(--white);
    display: block;
    line-height: 1.2;
    margin-bottom: 1em;
}

.action-text span {
    color: var(--red);
}

.action-section .form {
    width: 38%;
    margin: 0 auto;
}

.input {
    background: #fff;
    color: #262626;
    border-radius: 50px;
    padding: 1.7em 1.7em 1.7em 5em;
    font-size: 14px;
}

.input::placeholder {
    color: #262626;
    font-size: 14px;
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2em;
    z-index: 1;
}

.send-btn {
    background: #FD3535;
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    color: #FFFFFF;
    width: 45rem;
    border-radius: 50px;
    transition: 0.25s;
}

.send-btn:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.25s;
}

.action-slider .slick-arrow {
    position: absolute;
    bottom: 4em;
    left: 50%;
    z-index: 1;
}

.action-slider .prev-slide {
    transform: translateX(-5em);
}

.action-slider .next-slide {
    transform: translateX(1em);
}

.gallery-slider {
    width: 100%;
    font-size: 1rem;
}

.gallery-slider .slick-slide {
    margin: 0 1em;
}

.gallery-img {
    width: 100%;
    margin-bottom: 2em;
    position: relative;
    border-radius: 10px;
}

.gallery-img a {
    position: relative;
    display: block;
    height: 100%;
}

.fancybox-image,
.fancybox-spaceball {
    border-radius: 10px;
}

.gallery-img.big {
    height: 68em;
    width: 70em;
}

.gallery-img.small {
    height: 33em;
    width: 45em;
}

.gallery-img img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
}

.gallery-img a::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: 0.25s;
    opacity: 0;
}

.gallery-img a:hover::before {
    opacity: 0.5;
    transition: 0.25s;
}

.gallery-slider-wrapper {
    width: 100%;
    position: relative;
}

.gallery-slider-arrows {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -3em);
    justify-content: space-around;
    width: 77%;
    margin: 0 auto;
    left: 50.1%;
}

.gallery-mobile-slider {
    display: none;
}

.gallery-mobile-slider {
    width: 100%;
}

.gallery-mobile-slider .slick-slide {
    margin: 0 15px;
}

.gallery-mobile-slider .slick-list {
    margin: 0px -15px 0px -15px;
}

.gallery-mobile-slider-arrows {
    display: none;
}

.gallery-mobile-slider-arrows .prev-slide {
    margin-right: 1em;
}

.gallery-slider-two {
    width: 100%;
}

.gallery-slider-two .slick-slide {
    margin: 0 15px;
}

.gallery-slider-two .slick-list {
    margin: 0px -15px 0px -15px;
}

.gallery-slider-two-arrows .prev-slide {
    margin-right: 1em;
}

.net-column {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.net-column .column {
    width: 14.2%;
    border-right: 1px solid #F2F2F2;
}

.net-column .column:last-child {
    border-right: none;
}

.decor-element {
    position: absolute;
    z-index: 1;
}

.sircle-1 {
    width: 21rem;
    height: 21rem;
    background: var(--red);
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-50%, -35%);
}

.sircle-2 {
    width: 9rem;
    height: 9rem;
    background: var(--red);
    border-radius: 50%;
    top: 13em;
    right: 0;
    transform: translateX(50%);
}

.slider__slide {
    position: relative;
}

.gallery-add-text {
    font-weight: bold;
    font-size: 2.4rem;
    text-align: center;
    text-transform: uppercase;
    color: #161616;
    width: 15rem;
    display: block;
    padding: 0.7em;
    background: #FFFFFF;
    position: absolute;
    z-index: 1;
}

.gallery-add-text.before {
    border-radius: 41px 0px 41px 41px;
    top: 2em;
    right: 0;
}

.gallery-add-text.after {
    border-radius: 0 41px 41px 41px;
    bottom: 2em;
    left: 0;
}

.garanty {
    background: #f9f8f8 url(../images/bg/bg1.png);
}

.garanty-item {
    width: 33%;
}

.garanty-item-content {
    border-right: 2px dashed var(--red);
    border-bottom: 2px dashed var(--red);
    padding: 2.5em 2.5em 2.5em 9em;
    transform: skewX(-20deg);
    border-radius: 10px;
    position: relative;
}

.garanty-item-content::before {
    content: '';
    width: 10px;
    border-left: 2px dashed #FD3535;
    height: 60%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 0 0 10px;
}

.garanty-item-content::after {
    content: '';
    height: 10px;
    border-top: 2px dashed #FD3535;
    width: 80%;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 10px 0 0;
}

.garanty-item-content p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    color: var(--black);
    transform: skewX(20deg);
    line-height: 1.2;
}

.garanty-num {
    display: block;
    font-size: 9.6rem;
    color: var(--red);
    transform: skewX(20deg) translate(0%, -50%);
    position: absolute;
    top: 0;
    left: 0;
}

.garanty-descr {
    font-size: 1.8rem;
    text-align: center;
    color: #2F2F2F;
    width: 55%;
    margin: 0 auto;
}

.feedback {
    display: flex;
    overflow: hidden;
    align-items: center;
    background: url(../images/bg/bg2.jpg) no-repeat center bottom / cover;
    padding: 2em 0;
}

.feedback__content {
    flex: 0 0 100%;
}

.feedback__body {
    width: 50%;
}

.feedback__image {
    flex: 0 0 49%;
    transform: translate(-100%, 0);
    display: flex;
    align-items: center;
}

.feedback__image img {
    width: 100%;
}

.feedback-text {
    font-size: 3.6rem;
    text-align: center;
    color: var(--white);
    display: block;
    line-height: 1.3;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 1.5em;
}

.about {
    background: url(../images/bg/bg3.jpg) no-repeat center center;
    padding: 10em 0 8em;
}

.about-wrapper {
    width: 80%;
    margin: 0 auto;
}

.about-item {
    width: 55%;
}

.about-descript {
    width: 38%;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.about-title,
.about-name-company {
    font-weight: bold;
    font-size: 9.6rem;
    display: block;
}

.about-name-company {
    margin-bottom: 2.5em;
    margin-left: 1em;
}

.about-subtitle {
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 1.3;
    margin-bottom: 1em;
    display: block;
}

.about-item p {
    font-weight: 300;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--white);
}

.about-descript p {
    font-size: 1.8rem;
    color: var(--white);
    margin-bottom: 1em;
}

.about-img {
    top: -5em;
    z-index: 0;
    right: 22%;
    width: 57rem;
}

.bg-text {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    font-weight: bold;
    font-size: 20rem;
    color: #efefef;
}

.testimonial {
    overflow: hidden;
}

.testimonial-slider .slick-track {
    display: flex;
}

.testimonial-slider .slick-slide {
    height: auto;
}

.testimonial-item {
    border: 1px dashed var(--gray);
    padding: 4em;
    border-radius: 20px;
    height: 100%;
}

.user-name {
    font-weight: bold;
    display: block;
    margin-bottom: 1.5em;
    font-size: 1.8rem;
}

.testimonial-slider .slick-list {
    margin: 0 -15px;
}

.testimonial-slider .slide {
    padding: 0 15px;
}

.user-avatar {
    min-width: 15.7rem;
    height: 15.7rem;
    margin-right: 2em;
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-slider .slick-arrow {
    position: absolute;
    bottom: -7em;
    left: 50%;
    z-index: 1;
}

.testimonial-slider .prev-slide {
    transform: translateX(-5em);
}

.testimonial-slider .next-slide {
    transform: translateX(1em);
}

.testimonial {
    padding: 5em 0 12em;
}

.down {
    width: 12.3rem;
    height: 12.3rem;
    background: var(--red);
    margin: 8rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.testimonial-bg-img {
    left: 0;
    bottom: -5em;
    width: 27rem;
}

.contact-us__title {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 1.2;
    display: block;
    margin-bottom: 1em;
}

.contact-us__subtitle {
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 1.3;
    display: block;
    margin-bottom: 3em;
}

.contact-us__body {
    padding: 7em 5em 7em 15em;
    background: rgba(0, 0, 0, 0.47);
    width: 55%;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map {
    width: 100%;
    height: 100%;
}

.map iframe {
    height: 100%;
    width: 100%;
}

.map img {
    height: 100%;
    width: 100%;
}

.contact-form .send-btn {
    width: auto;
    padding: 1.4em 5em;
}

.footer {
    padding: 2em 0;
    background: #413f3f;
}

.footer-item .call {
    margin-right: 1em;
}

.footer .icon-social {
    width: 16px;
    height: 16px;
    color: var(--white);
}

.footer .social li a {
    border: 2px solid var(--white);
}

.footer .social li a:hover {
    border-color: var(--red);
}

.footer .menu li {
    color: var(--white);
}

.footer-phone-row a {
    border-right: 1px solid var(--white);
    color: var(--white);
}

.footer-phone-row a:last-child {
    border-right: none;
    margin: 0;
}

.footer-phone-row {
    margin-bottom: 5px;
}

.footer-phone-row a {
    display: block;
    margin-right: 1em;
    border-right: 1px solid var(--white);
    padding-right: 1em;
    font-weight: 500;
    font-size: 1.8rem;
}

.footer-phone-row a:hover {
    color: var(--red);
}

.footer p {
    color: var(--white);
}

.footer-menu li {
    margin-right: 2em;
    color: var(--white);
}

.footer-menu li:last-child {
    margin-right: 0;
}

.footer-menu li a:hover,
.callback-link:hover {
    color: var(--red);
}

.sm-show {
    display: none;
}

.service-wrapper.active .sm-hide {
    display: block;
}

.more-btn span:last-child {
    display: none;
}

.more-btn.active span:last-child {
    display: block;
}

.more-btn.active span:first-child {
    display: none;
}

.form-row {
    width: 100%;
    background: var(--white);
    border-radius: 100px;
}

.form .send-btn {
    width: 35%;
}

.form .input-wrapper {
    width: 65%;
}

.feedback__image__mobile {
    display: none;
    position: absolute;
    right: 0;
    top: -8em;
    width: 35rem;
}

.address {
    display: none;
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

.service-item .btn span:last-child {
    display: none;
}

.frame {
    width: 100%;
    height: 100vh;
    background: #2D2D2D;
}

.sticky-header {
    animation-duration: 0.8s;
    animation-name: fadeInDown;
    animation-timing-function: ease-in-out;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.75);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.load-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    z-index: 1000;
}

.load .load-overlay {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.text-block h1,
.text-block h2,
.text-block h3,
.text-block h4 {
    font-weight: 700;
    margin-bottom: 0.25em;
}

i,
em {
    font-style: italic;
}

.text-block p {
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 1em;
    text-align: center;
}

.text-block ul,
.text-block ol {
    padding-left: 20px;
    margin-bottom: 20px;
}

.text-block ul li:not(:last-child),
.text-block ol li:not(:last-child) {
    margin-bottom: 0.5em;
    line-height: 1.3;
}

.text-block a:hover {
    text-decoration: none;
}

.text-block a {
    color: var(--red);
    text-decoration: underline;
}

.modal-title {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5;
    text-transform: uppercase;
    display: block;
}

.popup-content .input-wrapper {
    margin-bottom: 30px;
}

.popup-content .input {
    background: #e4e4e4;
}

.popup-content .btn--red:hover {
    background: transparent;
    color: var(--gray);
}

.mobile-phone-dropdown {
    display: none;
}


/* ===== Custom Styles END =====*/